* {
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', 'sans-serif';
	height: 100vh;
	overflow-x: hidden;
	background: #8E0E00;
	background: -webkit-linear-gradient(to left, #1F1C18, #8E0E00);
	background: linear-gradient(to left, #1F1C18, #8E0E00);
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.counter-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 50px;
	text-align: center;
	color: #fff;
}
.counter{
	color: #fff;
	font-size: 60px;
	margin-top: 10px;
}
@media (max-width) {
	body{
		flex-direction: row;
	}
}